.roles-page {
  margin-top: 20px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 100px; */
}

.sortable,
.editable {
  cursor: pointer;
}

mat-toolbar {
  margin-bottom: 10px;
}

.permission-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* vertical-align: middle; */
  justify-content: center;
}

.action-buttons {
  background-color: transparent;
}

.action-buttons:disabled {
  pointer-events: none;
}

@media only screen and (max-width: 575.98px) {
  .permission-actions {
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
