<div class="container roles-page">
  <mat-toolbar id="toolbar" color="secondary">
    <mat-toolbar-row class="page-header">
      Roles x Permissions

      <button mat-icon-button color="accent" title="Recarregar" (click)="getRoles()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="form-group select-roles">
    <!-- <label for="exampleFormControlSelect1">Example select</label> -->
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectedRole" (change)="onChangeSelect()">
      <option value="" selected disabled>Selecione a role</option>
      <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
    </select>
  </div>

  <div class="row" *ngIf="selectedRole">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Permissões Disponíveis</h5>
          <div class="card-text">
            <div class="custom-control custom-checkbox" *ngFor="let permission of availablePermissions">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="permission.checked" [id]="permission.name">
              <label class="custom-control-label" [for]="permission.name">
                {{permission.name}}<h5 class="card-title">{{permission.description}}</h5>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2 permission-actions">
      <!-- <button type="button" class="btn btn-custom-color">Salvar</button> -->
      <button class='btn btn-sm action-buttons' title="Adicionar selecionados"
              [disabled]="!hasAvailablePermissionSelected()"
              (click)="addSelectedPermissions()">
        <div style='text-align:center;'>
          <i class="fas fa-arrow-right d-none d-sm-block"></i>
          <i class="fas fa-arrow-down d-block d-sm-none"></i>
        </div>
      </button>
      <button class='btn btn-sm action-buttons' title="Remover selecionados"
              [disabled]="!hasDefinedPermissionSelected()"
              (click)="removeSelectedPermissions()">
        <div style='text-align:center;'>
          <i class="fas fa-arrow-left d-none d-sm-block"></i>
          <i class="fas fa-arrow-up d-block d-sm-none"></i>
        </div>
      </button>
    </div>

    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Permissões Definidas</h5>
          <div class="card-text">
            <div class="custom-control custom-checkbox" *ngFor="let permission of definedPermissions">
              <input type="checkbox" class="custom-control-input" [id]="permission.name" [(ngModel)]="permission.checked">
              <label class="custom-control-label" [for]="permission.name">{{permission.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>